table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
   }
   td, th {
    padding: 3px; 
    border: 2px solid black; 
   }

   .it_gr {
       background: green;
       color: white;
   }

   .last_cell {
       border: 2px double black;
   }

   tr:last-child td {
       border:  double black;
       border-width: bold;
       color: blue;
   }