table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
   }
   td, th {
    padding: 3px; 
    border: 2px solid black; 
   }

   th {
       width: 270px;
   }

   th:first-child {
       width: 150px;

   }

   .it_gr {
       background: green;
       color: white;
   }

   .last_cell {
       border: 2px double black;
   }

   tr:last-child td {
       border: 7px  double black;
       border-width: bold;
       color: blue;
       font-weight: bold;
   }

   img {
    width: 20px;
    height: 20px;
    display: none;
    position: absolute;
    margin-top: -20px;
    margin-left: -30px;;
     }

  .gb:hover img {
      display: flex;
  }

  .fr:hover img {
    display: flex;
  }

  .shw:hover img, .gr:hover img, .mex:hover img, .ah:hover img,
   .shwa:hover img, .ru:hover img, .tu:hover img, .da:hover img, 
   .be:hover img, .nd:hover img, .se:hover img, .isp:hover img,
    .jp:hover img, .arg:hover img, .ch:hover img, .pa:hover img,
     .it_gr:hover img, .bg:hover img, .nor:hover img, .rum:hover img, 
     .alb:hover img, .port:hover img, .liht:hover img, .usa:hover img, 
     .luks:hover img, .grs:hover img  {
    display: flex;
  }

